.addressAndPicture {
	@include column(1);
	.contact {
		h3 {
			font-weight: 500;
			font-size: 36px;
		}
		p {
			line-height: 26px;
		}

		.address {
			padding-top: 33px;
			margin-bottom: 26px;
		}
	}
	.officePicture {
		img {
			width: 100%;
		}
	}
}