.heroImage {
    @include column(1);
    margin-bottom: 40px;
    img {
        width: 100%;
    }
}

.startInfo {
    @include stack();
    color: rgba(97,97,97 ,1);
    font-size: 14pt;
    line-height: 26px;
}
