@media (max-width: 599px) {
    .menu {
        .logo {
            @include column(2/12);
            .companyName {
                display: none;
            }
        }
        & .menuItems {
            @include column(7/12, $offset: 3/12);
            nav ul, nav:active ul {
                display: none;
            }
            nav li {
                width: 100%;
                text-align: right;
                height: 35px;
            }
            nav:hover ul {
                display: block;
                padding-top: 17px;
                padding-bottom: 11px;
            }
        }
    }
    .startInfo {
        & .welcomeText {
            margin-bottom: 34px;
        }
        & .address {
            margin-bottom: 34px;
        }
    }
    .projectGalleryElement {
        @include column(1, $cycle: 1);
    }

    .secondContainer {
        .mottoContainer {
            .motto {
                text-align: left;
            }
        }
    }

    .ownersProfiles {
        .profileFirst {
            @include column(1);
            padding-bottom: 52px;
        }
        .pictureProfileSecond {
            display: block;
        }
        .profileSecond {
            @include column(1);
        }
    }

    .addressAndPicture {
        padding-top: 23px;
        .contact {
            @include column(1);
        }
        .officePicture {
            display: none;
        }
    }

    .destinationMap {
        #map {
            height: 434px;
        }
    }
}

@media (min-width: 600px) {
    .menu {
        & .logo {
            @include column(5/12);
        }
        & .menuItems {
            @include column(4/12, $offset: 3/12);
            & #menu-icon {
                display: block;
            }
            nav ul, nav:active ul {
                display: none;
            }
            nav li {
                width: 100%;
                text-align: right;
                height: 35px;
            }
            nav:hover ul {
                display: block;
                padding-top: 17px;
                padding-bottom: 11px;
            }
        }
    }
    .startInfo {
        & .welcomeText {
            margin-bottom: 86px;
        }
    }
    .projectGalleryElement {
        @include column(1/3, $cycle: 3, $gutter: 2);
    }

    .secondContainer {
        .mottoContainer {
            position: static;
            .motto {
                width: 100%;
                padding-top: 38px;
                margin-bottom: 29px;
                text-align: center;
            }
        }
    }

    .ownersProfiles {
        .profileFirst {
            @include column(1/2);
        }
        .pictureProfileSecond {
            display: none;
        }
        .profileSecond {
            @include column(1/2);
        }
    }

    .addressAndPicture {
        padding-top: 101px;
        .contact {
            @include column(1/3);
        }
        .officePicture {
            @include column(2/3);
        }
    }

    .destinationMap {
        #map {
            height: 434px;
        }
    }
}

@media (min-width: 900px) {
    .menu {
        & .logo {
            @include column(3/12);
        }
        & .menuItems {
            @include column(7/12, $offset: 2/12);
            & #menu-icon {
                display: none;
            }
            nav ul, nav:active ul {
                display: initial;
            }
            nav li {
                display: inline-block;
                width: auto;
            }
            nav:hover ul {
                display: initial;
                padding-top: 14px;
                padding-bottom: 0px;
            }
        }
    }
    .startInfo {
        & .welcomeText {
            @include column(7/12);
        }
        & .address {
            @include column(4/12,  $offset: 1/12);
        }
    }
    .projectGalleryElement {
        @include column(1/3, $cycle: 3, $gutter: 2);
    }

    .secondContainer {
            padding-top: 109px;
        .mottoContainer {
            position: absolute;
            .motto {
                margin: 0 auto;
                width: 40%;
                padding-top: 58px;
                text-align: center;
            }
        }
    }

    .ownersProfiles {
        .profileFirst {
            @include column(1/2);
        }
        .pictureProfileSecond {
            display: none;
        }
        .profileSecond {
            @include column(1/2);
        }
    }

    .addressAndPicture {
        padding-top: 101px;
        .contact {
            @include column(1/3);
        }
        .officePicture {
            @include column(2/3);
        }
    }

    .destinationMap {
        #map {
            height: 590px;
        }
    }
}

@media (min-width: 1200px) {
    .menu {
        & .logo {
            @include column(3/12);
        }
        & .menuItems {
            @include column(6/12, $offset: 3/12);
            & #menu-icon {
                display: none;
            }
        }
    }
    .startInfo {
        & .welcomeText {
            @include column(6/12);
        }
        & .address {
            @include column(4/12, $offset: 2/12);
        }
    }
    .projectGalleryElement {
        @include column(1/3, $cycle: 3, $gutter: 2);
    }

    .secondContainer {
        padding-top: 109px;
        .mottoContainer {
            position: absolute;
            .motto {
                margin: 0 auto;
                width: 40%;
                padding-top: 58px;
                text-align: center;
            }
        }
    }

    .ownersProfiles {
        .profileFirst {
        @include column(1/2);
        }
        .pictureProfileSecond {
            display: none;
        }
        .profileSecond {
            @include column(1/2);
        }
    }

    .addressAndPicture {
        padding-top: 101px;
        .contact {
            @include column(1/3);
        }
        .officePicture {
            @include column(2/3);
        }
    }

    .destinationMap {
        #map {
            height: 590px;
        }
    }
}
