@media (max-width: 320px) {
    .startInfo {
        & .welcomeText {
            margin-bottom: 34px;
        }
    }
}

@media (max-width: 768px) {
    .menu {
        & .logo {
            @include column(4/12);
        }
        & .menuItems {
            @include column(6/12, $offset: 2/12);
            & .links {
                display: none;
            }
        }
    }
    .startInfo {
        & .welcomeText {
            margin-bottom: 86px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .menu {
        & .logo {
            @include column(3/12);
        }
        & .menuItems {
            @include column(6/12, $offset: 3/12);
            & #menu-icon {
                display: none;
            }
        }
    }
    .startInfo {
        & .welcomeText {
            @include column(7/12);
        }
        & .address {
            @include column(4/12,  $offset: 1/12);
        }
    }
}

@media (min-width: 1025px) {
    .menu {
        & .logo {
            @include column(3/12);
        }
        & .menuItems {
            @include column(6/12, $offset: 3/12);
            & #menu-icon {
                display: none;
            }
        }
    }
    .startInfo {
        & .welcomeText {
            @include column(6/12);
        }
        & .address {
            @include column(4/12, $offset: 2/12);
        }
    }
}
