.menu {
    padding-top: 24px;
    height: 58px;
    margin-bottom: 22px;
    & .logo {
        & a {
            color: rgba(33,33,33 ,1);
            font-size: 24pt;
            font-weight: 700;
            text-decoration: none;
            & img {
                height: 34px;
                width: auto;
                margin-right: 10px;
            }
        }
    }
    & .menuItems {
        & #menu-icon {
            width: 34px;
            height: 34px;
            background: url(../images/icons/hamburger-menu.svg) no-repeat center;
            float: right;
        }
        & .links {
            list-style-type: none;
            float: right;
            padding-top: 14px;
            & li {
                display: inline-block;
                margin-right: 30px;
                & a {
                    color: rgba(33,33,33 ,1);
                    font-size: 16pt;
                    font-weight: 500;
                    text-decoration: none;
                }
                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }
    }
}
