@import 'node_modules/jeet/scss/index';
@import '_settings';
@import '_media-queries';

//@include debug();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    @include center(1168px, 16px)
}

@import '_menu';
@import '_main';
@import '_projects';
@import '_contact';
