@import 'node_modules/jeet/scss/index';
@import '_settings';
@import '_main';

//@include debug();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    @include center(1168px, 16px)
}

.menu {
    height: 3rem;
    padding-top: 2em;
    margin-bottom: 26px;
    & .logo {
        @include column(2/12);
        & a {
            color: rgba(33,33,33 ,1);
            font-size: 24pt;
            font-weight: 700;
            text-decoration: none;
        }
    }
    & .menuItems {
        @include column(4/12, $offset: 6/12);
        & .links {
            float: right;
        }
        & a {
            color: rgba(33,33,33 ,1);
            font-size: 16pt;
            font-weight: 500;
            text-decoration: none;
            margin-right: 30px;
            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
}
